body {
  background: url(media/background.jpg) center top / cover no-repeat fixed;
  backdrop-filter: blur(4px);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  background-color: rgba(0, 0, 0, 0.392);
  width: 100%;
  text-align: center;
  flex: 1 0 auto;
}

.main {
  text-align: center;
  display: inline-block;
  margin: 50px 20px 50px auto;
  width: 600px;
  height: 602px;
  vertical-align: top;
  position: relative;
}

.input-container .clearButton {
  background: none;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 20px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.input-container .clearButton:hover {
  background-color: rgba(255, 81, 81, 0.4);
  cursor: pointer;
}

.text-area {
  background: none;
  color: #ffffff;
  width: 460px;
  height: 400px;
  padding: 10px;
  margin: 10% auto;
  resize: none;
  border: none;
  font-size: 22px;
}
.text-area:focus {
  outline: none;
  border: none;
}

.text-area::placeholder {
  color: #ffffff;
  height: 400px;
}

.button-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.button-container p {
  color: white;
  font-size: 18px;
}

.show-text {
  background-color: rgba(149, 247, 247, 0.189);
  display: inline-block;
  margin: 50px auto 50px 20px;
  width: 400px;
  height: 600px;
  position: relative;
  border: 1px solid rgb(0, 255, 255);
  border-radius: 24px;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 40);
}

.text-container {
  width: 340px;
  height: 400px;
  margin: 6% auto 0;
  /* padding: 10px 10px 100px; */
  /* padding-bottom: 100px; */
}

.text-container .show-textarea {
  background: none;
  color: #ffffff;
  width: 340px;
  height: 500px;
  /* padding: 10px; */
  /* margin: 10% auto; */
  resize: none;
  border: 1px solid;
  border: none;
  font-size: 18px;
}

.text-container .show-textarea:focus {
  outline: none;
  border: none;
}

.button-container .button {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  width: 200px;
  height: 60px;
  font-size: 18px;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 14px;
  transition: 0.3s ease-in-out;
}

.button-container .button:hover {
  background-color: rgba(81, 81, 255, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 255, 255, 40);
  cursor: pointer;
}

footer {
  background-color: rgba(48, 48, 121, 0.565);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
footer img {
  width: 100px;
}

.media-container {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.media-container ul li {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  text-align: center;
}

.media-container ul li a {
  background-color: rgba(0, 255, 255, 0.2);
  display: block;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  transition: 0.2s;
}

.media-container ul li a:hover {
  background-color: rgba(0, 255, 255, 0.646);
}

.copyright {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
}

.fadeOut {
  opacity: 0;
  transition: 1s;
}

.appear {
  opacity: 1;
  transition: 1s;
}

.invisible {
  display: none;
}

#defect {
}

.padlock-img {
  width: 300px;
}

.defect-template {
  margin: 20% 40px;
}

.message-container {
  color: white;
}

.message-container h3 {
  font-weight: bold;
  font-size: 24px;
}
.message-container p {
  margin-top: 8px;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .main {
    width: 342px;
    height: 340px;
    margin: 20px auto;
  }

  .input-container {
    width: 342px;
    margin: 20px auto;
  }

  .button-container p {
    font-size: 16px;
  }
  .button-container .button {
    width: 140px;
    height: 40px;
    font-size: 16px;
  }

  .text-area {
    width: 320px;
    height: 180px;
    padding: 0;
    margin: 20px 0;
    font-size: 18px;
  }

  .show-text {
    width: 342px;
    height: 300px;
    margin: 20px auto;
  }

  .text-container {
    height: 250px;
    margin: 0;
  }
  .text-container .show-textarea {
    width: 300px;
    height: 200px;
    margin: 10px auto;
    padding: 0;
    font-size: 18px;
  }

  .defect-template {
    margin: 40px 0;
  }

  .padlock-img {
    width: 160px;
  }

  .message-container {
    margin: 0 8px;
  }
  .message-container h3 {
    font-size: 20px;
  }
  .message-container p {
    font-size: 16px;
  }

  footer {
    padding: 5px 0;
  }
  footer img {
    width: 60px;
  }
  .copyright {
    margin: 5px;
  }
}

@media screen and (max-width: 1060px) {
  .main {
    margin-right: 0;
  }
  .show-text {
    margin-left: 0;
  }
}
